---
title: Astropy Data Server
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Astropy. A Community Python Library for Astronomy." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/favicon.ico" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400italic,400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="css/style.css" />

 
<title>{{ page.title }}</title>

</head>

<body> 


<div id="wrapper">
  <nav>
    <a href="http://www.astropy.org"><img src="images/astropy_word_32.png"/></a>
    <div id="navigation">
      <ul>
        <li style="margin-top: 9px"><a href="http://data.astropy.org">Data</a></li>
      </ul>
    </div>
  </nav>
  <section>

  <h1> Astropy Data Server</h1>

  <p>
  This is the data server for <a href="http://www.astropy.org">the Astropy project</a>.  Small data files are generally included with the library code, but larger files are hosted here, accessible via the <a href="http://astropy.readthedocs.org/en/stable/utils/index.html#module-astropy.utils.data">get_pkg_data_*</a> class of functions.  These data files are also used to store data files needed for the <a href="http://tutorials.astropy.org"> astropy tutorials</a>.
  </p>

  <p>
  The files stored here are listed below.
  </p>

  <ul>
   {% for s in site.static_files %}

      {% assign firstdir = s.path |remove_first: "/" | split: "/" | first%}

      {% if (firstdir == 'css') or (firstdir == 'images') or (firstdir == 'pages-build-version')%}
      {% else %}
        <li><a href="{{ s.path |remove_first: "/" }}">{{ s.path |remove_first: "/" }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</section>
</div>

</body>
</html>



